<br />
{% for question in questions %}
     {{ question.title }}  -  <a href="{{ question.get_absolute_url }}">details</a> <br />
{% endfor %}

<br />

<div class="pagination">
    <span class="step-links">
        {% if questions.has_previous %}
            <a href="?page={{ questions.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ questions.number }} of {{ questions.paginator.num_pages }}.
        </span>

        {% if questions.has_next %}
            <a href="?page={{ questions.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>